[submodule "external/KernelWiki"]
	path = external/KernelWiki
	url = git@github.com:mit-han-lab/KernelWiki.git
	branch = master
[submodule "external/ncu-report-skill"]
	path = external/ncu-report-skill
	url = git@github.com:DongyunZou/ncu-report-skill.git
	branch = main
[submodule "external/warp-specialization-report-skill"]
	path = external/warp-specialization-report-skill
	url = git@github.com:DongyunZou/warp-specialization-report-skill.git
	branch = main
